html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  font-family: monospace;
}

#wall {
  position: relative;
  width: 100%;
  height: 100%;
  inset:0;
  z-index: 1;
}

#overlay{
  position: fixed;
  inset:0;
  z-index: 2;
  pointer-events: none;
}

.A {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 1.3;
  pointer-events: none;
  will-change: transform, color;
}

.A span {
  display: block;
}

.A {
  transform: scale(var(--A-scale, 1));
}

#heart{
  margin:auto;
  margin-top: 200px;
  height:100px;
  width:100px;
  position:fixed;
  background-color: pink;
  transform: rotate(-45deg);
  border-radius: 10px;
  transition: 0.3s;
  transition:
    width 0.6s ease,
    height 0.6s ease,
    border-radius 0.6s ease,
    transform 0.6s ease;
  inset: 0;
  z-index: 3;
  pointer-events: auto;
  animation: bounce 2.2s infinite ease-in-out;
}
#heart::before,
#heart::after{
  content: "";
  height: 100px;
  width: 100px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
}
#heart::before{
  top:-50px;
  left: 0;
}
#heart::after{
  left: 50px;
  top:0;
}
#heart:hover{
  filter: drop-shadow(0 0 20px hsl(330, 100%, 78%));
  cursor: pointer;
}
#heart,
#heart::before,
#heart::after{
  background-color: pink;
  transition: 0.3s;
}
#heart:hover,
#heart:hover::before,
#heart:hover::after{
  background-color: hsl(350, 100%, 81%);
}
@keyframes bounce{
  0% {
    transform: rotate(-45deg) scale(1);
    box-shadow: none;
  }
  50% {
    transform: rotate(-45deg) scale(1.1);
    filter: drop-shadow(0 0 20px hsl(330, 100%, 78%));
  }
  100% {
    transform: rotate(-45deg) scale(1);
    box-shadow: none;
  }
}

@keyframes bounce2{
  0% {transform: scale(1);}
  50% {transform: scale(1.02);}
  100% {transform: scale(1);}
}

#toggle{
  display: none;
}
#toggle:checked + #heart:hover{
  cursor: default;
}
#toggle:checked + #heart{
  animation: bounce2 2.2s infinite ease-in-out;
}
#toggle:checked + #heart{
  width: 285px;
  height: 210px;
  transform: rotate(0deg);
  border-radius: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}
#toggle:checked + #heart::before,
#toggle:checked + #heart::after{
  opacity: 0;
  transform: scale(0.5);
}
#heart .content{
  opacity: 0;
  transform: scale(0.95);
  transition-duration: 0.1s;
  transition-property: opacity, transform;
  transition-timing-function: ease;
  pointer-events: none;
}

#toggle:checked + #heart .content{
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
#pass{
  margin-left: 30px;
  padding: 12px 16px;
  font-size: 16px;
  font-family: 'Open Sans';
  color: #333;
  border: 2px solid #ffaedd;
  border-radius: 10px;
  outline:none;
  background-color: rgb(255, 148, 184);
  transition: 0.25s;
}
#pass:hover{
  background-color: pink;
}
#pass:focus{
  border-color: hotpink;
  box-shadow: 0 0 10px rgba(255,105,180,.4);
  background-color: pink;
}
#butt{
  margin-left: 115px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: rgb(255, 148, 184);
  font-family: 'Open Sans';
}
#butt:hover{
  background-color: pink;
  cursor: pointer;
}
#ttle{
  margin-top:30px;
  margin-bottom: 30px;
  margin-left: 65px;
  font-size: 20px;
  font-family: 'Open Sans';
}
#back{
  margin-left:12px;
  margin-top:7px;
  border-radius: 50%;
  border: none;
  padding: 5px 5px;
}
#back:hover{
  cursor: pointer;
}
.fa-solid_fa-rotate-left{
  transform: scale(0.3);
}


.top{
  opacity: 0;
  height: 75px;
  width: 310px;
  background-color: hsl(0, 46%, 50%);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transform: translateX(-5px) translateY(-40px);
  grid-row: 1;
  transition: 0.2s ease;
  transform-origin: top;
  z-index: 21;
}
.sick{
  opacity: 0;
  height: 25px;
  width: 320px;
  transform: translateX(-10px) translateY(-40px);
  background-color: hsl(49, 90%, 49%);
  grid-row: 2;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform-origin: left;
  z-index: 23;
}
.buttt{
  opacity: 0;
  height: 150px;
  width: 310px;
  transform: translateX(-5px) translateY(-40px);
  background-color: hsl(0, 57%, 35%);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  grid-row: 3;
  transform-origin: bottom;
  z-index: 22;
}
.dot{
  opacity: 0;
  position: absolute;
  height: 100px;
  width: 100px;
  grid-column: 1;
  grid-row: 2;
  transform: translate(100px, -240px);
  z-index: 24;
}
.dot img {
  width: 100%;
  height: 100%;
  display: block;
  transform: translateY(-10px);
}
.top,
.sick,
.buttt,
.dot{
  pointer-events: none;
}



.one{
  opacity: 1;
  animation: poptop 0.5s ease;
}
.two{
  opacity: 1;
  animation: stretchin 0.5s ease;
}
.three{
  opacity: 1;
  animation: poptop 0.5s ease;
}
.four{
  opacity: 1;
  animation: fah 0.5s ease;
}

@keyframes poptop{
  0% {transform: scale(0) translateX(-5px) translateY(-40px);}
  75% {transform: scale(1.02) translateX(-5px) translateY(-40px);}
  100% {transform: scale(1) translateX(-5px) translateY(-40px);}
}
@keyframes stretchin{
  0% {transform: scale(0) translateX(-10px) translateY(-40px);}
  75% {transform: scale(1.03) translateX(-10px) translateY(-40px);}
  100% {transform: scale(1) translateX(-10px) translateY(-40px);}
}
@keyframes fah{
  0% {transform: scale(0) translate(100px, -240px);}
  35% {transform: scale(0) translate(100px, -240px);}
  80% {transform: scale(1.03) translate(100px, -240px);}
  100% {transform: scale(1) translate(100px, -240px);}
}

